<a href="https://colab.research.google.com/github/drwbkr1/Grad504-Hierarchical-Cluster-Project/blob/main/GRAD504_HC_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer

plants= ("/content/drive/MyDrive/Colab Notebooks/datasets/plants.data")

'''After discovering the correct encoding, I noticed the loader didn't like the
different number of datapoints in each line. So now I'm one-hot encoding the
dataset right out of the box

We're going to split the plants from the states, then one-hot encode the states.
We'll add the plant's back to the dataframe after the one-hot encoding.'''

plants_list= []
states_list= []

with open(plants, encoding='ISO-8859-1') as file:
  for line in file:
    items= line.strip().split(",") #turn each line into a list
    plants_list.append(items[0])            #reorganize the list into respective variables
    states_list.append(items[1:])

states_list[:10]

In [14]:
mlb= MultiLabelBinarizer()

states_ohe= mlb.fit_transform(states_list)

df= pd.DataFrame(states_ohe, columns= mlb.classes_, index= plants_list).reset_index()
df.head(10)

,index,ab,ak,al,ar,az,bc,ca,co,ct,...,tx,ut,va,vi,vt,wa,wi,wv,wy,yt
0,abelia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,abelia x grandiflora,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,abelmoschus,0,0,0,0,0,0,0,0,1,...,0,0,1,1,0,0,0,0,0,0
3,abelmoschus esculentus,0,0,0,0,0,0,0,0,1,...,0,0,1,1,0,0,0,0,0,0
4,abelmoschus moschatus,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,abies,1,1,0,0,1,1,1,1,1,...,0,1,1,0,1,1,1,1,1,1
6,abies alba,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,abies amabilis,0,1,0,0,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
8,abies balsamea,1,0,0,0,0,0,0,0,1,...,0,0,1,0,1,0,1,1,0,0
9,abies balsamea var. balsamea,1,0,0,0,0,0,0,0,1,...,0,0,1,0,1,0,1,1,0,0

In [16]:
df.shape

(34781, 71)

In [ ]:
'''Oh boy, 34000 flower types in 70 regions. That's 2.38 million combinations.
We have our work cut out for us'''